html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Georgia, serif;
    background-image: url('/images/background.jpg');
    background-size: cover; /* Масштабирует изображение, чтобы покрыть весь экран */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение */
    background-attachment: fixed; /* Фиксирует фон при прокрутке */
    background-color: #f4f4f4;
    margin-bottom: 60px;
}